.page {
  box-sizing: border-box;
  padding: 0 calc(50% - 640px) 0;
  width: 100%;
  min-width: 320px;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.transition:hover {
  opacity: 0.5;
}
