.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__text {
    margin-left: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    margin: 0 16px;
  }
}
