.cover {
  margin: 0 auto 0;
  padding: 92px 0 0 0;
  max-width: 1184px;
  min-width: 320px;
}

/*
screen: 1280px, 1024px, 768px, 320px;
max-width: 984px, 928px, 768px, 320px;
padding-top: 92px, 92px, 90px, 66px;

Формула:
Минимальная ширина + (Максимальная ширина - Минимальная ширина) * ((Ширина окна браузера - Минимальная ширина окна браузера) / (Максимальная ширина окна браузера - Минимальная ширина окна браузера)));
*/

@media screen and (max-width: 1280px) {
  .cover {
    padding-top: calc(92px + (92 - 92) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-top: calc(90px + (92 - 90) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: calc(66px + (90 - 66) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}
