.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .place__link {
    margin-left: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    margin: 0 16px;
  }
}
