.footer {
  margin: 0 auto 0;
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 1184px;
  min-width: 288px;
  display: flex;
  justify-content: space-between;
}

/*
screen: 1280px, 1024px, 768px, 320px;
max-width: 984px, 928px, 768px, 320px;
padding-top: 92px, 92px, 88px, 64px;

Формула:
Минимальная ширина + (Максимальная ширина - Минимальная ширина) * ((Ширина окна браузера - Минимальная ширина окна браузера) / (Максимальная ширина окна браузера - Минимальная ширина окна браузера)));
*/

@media screen and (max-width: 1280px) {
  .footer {
    max-width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
    padding-top: calc(92px + (92 - 92) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
    padding-top: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    padding-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}
