.place__url-heading {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    margin-left: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (0 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    margin: 0 16px 12px;
  }
}
